@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

::selection{
    background-color: #eda814;
    color: black;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track { /*define o estilo da área da scrollbar onde o conteúdo não está visível.*/
    background: transparent; 
  }
  
  ::-webkit-scrollbar-thumb { /*define o estilo do polegar (a parte que você arrasta) da scrollbar.*/
    background: #e9a209;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #edba4c;
  }

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  list-style: none;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 1.8rem;
}

body{
  background-color: #fff9ea;
}

header{
  width: 100%;
  padding: 28px 8%;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #1d1d1d;
}

#navBar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-logo{
  font-size: 24px;
  color: #e9a209;
}

#nav-list{
  display: flex;
  gap: 2.5rem;
}

.nav-item a{
  color: #ffffff;
  font-weight: 600;
  transition: all .3s;
}

.nav-item a:hover{
  color: #edba4c;
  font-size: 18px;
}

.btn-default{
  background-color: #e9a209;
  color: #000000;
  font-weight: 500;
  padding: .5rem 1rem;
  border: 2px solid transparent;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;

  transition: all .3s;
}

.btn-default:hover{
  border: 2px solid #eda814;
  background-color: transparent;
  color: #eda814;
}

.mobile-btn{
  display: none;
}

#mobile-menu{
  display: none;
}

/* #btn-mobile{
  display: none;
} */

.nav-item.active a{
  color: #eda814  ;
  border-bottom: 3px solid #e9a209;
}

section{
  padding: 28px 8%;
}

#home{
  display: flex;
  min-height: calc(100vh - 91px);
  position: relative;
}

#home span{
  color: #e9a209;
}

#cta{
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 5%;
}

#cta h1{
  font-size: 4rem;
}

#cta p{
  font-size: 1.2rem;
}

#cta-btns{
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: 600; 
}

.social-media-btn{
  display: flex;
  gap: 1.2rem;
  font-size: 1.8rem;
}

.social-media-btn a{
  color: black;
  transition: all .3s ease-out;
}

.social-media-btn a:hover{
  color: #edba4c;
  font-size: 2rem;
}

#banner{
  display: flex;
  align-items: start;
  justify-content: end;
  width: 70%;
  margin-top: -2rem;
}

#banner img{
  height: 100%;
  width: fit-content;
}

.shape{
  background-color: #ffe8b4;
  width: 50%;
  height: 100%;
  position: absolute;
  border-radius: 40% 30% 0% 20%;
  top: -10px;
  right: 0;
  z-index: -1;
}

#cardapio{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 3rem 0;
}

.section-title{
  color: #eda814;
  font-size: 1.563rem;
}

.section-subtitle{
  font-size: 2.1875rem;
}

#pratos{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;
}

.prato{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #ffffff;
    gap: 18px;
    width: 25%;
    padding: 20px;
    box-shadow: 4px 5px 5px rgba(0,0,0,0.5);
    text-align: center;
}

.prato .prato-coracao{
  position: absolute;
  background-color: #eda814;
  right: 0;
  top: 0;
  padding: .6rem;
  border-bottom-left-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;

  transition: all .3s ease-out;
}

.prato .prato-coracao:hover{
  background-color: #1d1d1d;
  color: #eda814;
}

.prato-avali i{
  cursor: pointer;
}

.prato-avali i:hover{
  color: #eda814;
}

.prato .prato-valor{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .7rem;
}

.prato .prato-valor h4{
  font-size: 1.2rem;
}

.prato .prato-valor button i{
  font-size: 1.2rem;
}

#avalia{
  min-height: calc(100vh - 91px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin: 3rem 0;
}

#avalia .img-chef{
  width: 500px;
  height: auto;
}

#avalia_content{
  background-color: #ffffff;
  padding: 1.8rem;
  border-radius: 10px;
  box-shadow: 4px 5px 5px rgba(0,0,0,0.5);
}

#feedbacks{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feedback{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .8rem 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.211);
}

.feedbackContent{
  display: flex;
  flex-direction: column;
  gap: .3rem;
  font-size: 1.05rem;
}

.feedbackContent p{
  display: flex;
  justify-content: space-between;
}

.feedbackContent p:nth-child(1){
  font-weight: 600;
}

#avalia_content button{
  margin-top: 1rem;
}

footer{
  background-color: #ffe8b4;
}

#footer_items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8% 24px 8%
}

#footer_items span{
  font-size: 1.2rem;
  font-weight: 600;
}