@media screen and (max-width: 1170px) {
  #nav-list, #navBar .btn-default{
    display: none;
  }

  .mobile-btn{
    display: block;
    color: #ffffff;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  #mobile-menu.active{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .8rem;
  }

  #mobile-menu a{
    color: #ffffff;
    transition: all .3s;
  }

  #mobile-menu a:hover{
    color: #edba4c;
    font-size: 18px;
  }

  #btn-mobile{
    width: fit-content;
    margin: auto;
  }

  #home{
    min-height: 100%;
    margin-top: -5%;
  }

  #banner, #banner img, .shape{
    display: none;
  }

  #cta{
    width: 100%;
    text-align: center;
    align-items: center;
  }

  #pratos{
    flex-wrap: wrap;
    justify-content: center;
  }

  .prato{
    width: calc(50% - 12px);
  }
}

@media screen and (max-width: 600px){
  .prato{
    width: 100%;
  }

  .section-subtitle{
    text-align: center;
  }
}